body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #96c4eb;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

button {
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #813ae5;
  color: #96c4eb;

}

button:hover {
  background-color: #e965b4;
}

#clickCount {
  margin-top: 20px;
  font-size: 2rem;
}
